#navbar{
height: 50px;
border: 2px solid black;
width: 100%;
display: flex;
padding: 10px;
justify-content: space-evenly;
justify-items: center;
background-color: antiquewhite;
}
#navbar>div{
    border: 1px solid;
    height: 40px;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}
#container1{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#container1>div{
border: 1px solid;
height: 600px;
width: 45%;


}






@media all and(min-width : 551px) and (max-width: 850px){
#navbar{
    width: auto;
    box-sizing: border-box;
    border:0px;
}
#navbar>div{
    width: auto;
    padding: 5px;
   
}




}
@media all and(min-width : 300px) and (max-width: 550px){
    #navbar{
        width: auto;
        box-sizing: border-box;
        border: 0px;
    }
    #navbar>div{
        width: auto;
       
       
    }
    
    
    
    }
